# 👉 Copia questo file in .env e inserisci i valori reali

VITE_AUTH_CLIENT_ID=your-client-id-here
VITE_AUTH_TENANT_ID=your-tenant-id-here
VITE_AUTH_REDIRECT_URI=http://localhost:3100/public
VITE_AUTH_LOGOUT_URI=http://localhost:3100

VITE_GOOGLE_SECRET=